/*@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Josefin+Sans|Manuale');*/

html{
    margin-left: 0;
    left: 0;
    min-width: 100%;
    height: calc(100% - 80px);
}

table{
    margin-right: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#listForm{
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#listFormSubmit{
    font-size: 21px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: 1px 1px 3px #000;
}

#listFormSubmit:hover {
    background-color: #45a049;
    text-shadow: 1px 1px 3px #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #666;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#textNotes {
    font-size: 14px;
    width: 208px;
    height: 150px;
    margin: 0px 8px 8px 8px;
    border: 1px solid #ccc;
}

.navBarForm{
    height:32px;
}

.defaultContainer{
    padding-top: 55px;
}

.notesContainer{
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    display: flex;
    flex: initial;
}

header{
    left: 0;
    top: 0;
    height: 0;
    color: #FFF;
    text-align: center;
    margin: 0;
}

td{
    padding-left: 2px;
    padding-right: 2px;
}

.headerContent{
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
}

.notes h2 {
    padding: 10px 10px 10px 10px;
    background:#666;
    color:white;
    font-size: 14px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: -8px;
    text-shadow: 1px 1px 3px #000;
}

.notes p {
    color:#FFF;
    padding:5px 5px 5px 5px;
}

.notes{
    width: 225px;
    background-color: #333;
    border-radius: 0px;
    color: #FFF;
    margin: 10px 10px 10px 10px;
    border: 2px;
    border-color: #666;
}

#searchButton, #searchButton:visited{
    margin-bottom: 2px;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:32px;
    font-size: 12px;
    height: 32px;
    background-color: #999;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right:5px;
    border: none;
    border-radius: 3px;
    color: #FFF;
}

#searchButton:hover{
    margin-bottom: 2px;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:32px;
    font-size: 12px;
    height: 32px;
    background-color: #666;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right:5px;
    border: none;
    border-radius: 3px;
    color: #FFF;
}

#addButton, #addButton:visited{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:32px;
    height: 32px;
    background-color: #999;
    background-image: url('../img/add.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 3px;
}

#addButton:hover, #addButton:active {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    width: 32px !important;
    height: 32px !important;
    background-color: #666 !important;
    background-image: url('../img/add.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: none !important;
    border-radius: 3px !important;
}

#notificationButton, #notificationButton:visited{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:32px;
    height: 32px;
    background-color: #ad5252;
    background-image: url('../img/notification.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 3px;
}

#notificationButton:hover, #notificationButton:active {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    width:32px !important;
    height: 32px !important;
    background-color: #c83025 !important;
    background-image: url('../img/notification.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: none !important;
    border-radius: 3px !important;
}

#profileButton, #profileButton:visited{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:32px;
    height: 32px;
    background-color: #639f77;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    color: #FFF;
    text-shadow: 1px 1px 2px #000;
}

#profileButton:hover, #profileButton:active {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    width:32px !important;
    height: 32px !important;
    background-color: #309200 !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: none !important;
    border-radius: 50px !important;
    font-size: 14px;
    color: #FFF !important;
    text-shadow: 1px 1px 2px #000 !important;
}

.interfaceHeader{
    height: 45px;
    background-color: #333;
    position: fixed;
    text-align: center;
}

body{
    background-image: url("../img/background.jpg");
    width: 100%;
    font-family: "Helvetica";
    background-color: #999;
    text-align: center;
    padding-bottom: 60px;
    position:relative;
    min-height: 100%;
    left:0;
    margin: 0;
}

a:link {
    color: #FFF;
    text-decoration: underline;
}

a:visited {
    color: #FFF;
    text-decoration: underline;
}

a:hover {
    color: #ccc;
    text-decoration: underline;
}

a:active {
    color: #ccc;
    text-decoration: underline;
}

.presentationBox{
    text-shadow: 2px 2px 3px #000;
    color: #FFF;
    font-size: 24px;
}

select{
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select {
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.backbt{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 21px;
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    color: #FFF;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-shadow: 1px 1px 3px #000;
}

input[type=submit] {
    font-size: 21px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: 1px 1px 3px #000;
}

input[type=submit]:hover {
    background-color: #45a049;
    text-shadow: 1px 1px 3px #000;
}

.content{
    width: 100%;
    left:0;
}

.registerForm{
    max-width: 400px;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.loginForm{
    max-width: 400px;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 60px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 12px;
}
